* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-synthesis: none;
}

@font-face {
  font-family: 'Atkinson Hyperlegible-Regular';
  src: url('./fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible-Italic';
  src: url('./fonts/AtkinsonHyperlegible-Italic.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible-Bold';
  src: url('./fonts/AtkinsonHyperlegible-Bold.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible-Bold-Italic';
  src: url('./fonts/AtkinsonHyperlegible-BoldItalic.ttf');
}